a.button.button-primary.get,a.button.button-primary.get:active,a.button.button-primary.get:focus,a.button.button-primary.get:hover,a.button.button-primary.get:visited{
	background:#ffa800 !important;
}
a.button.button-primary.get:hover{
	background: #0f1114 !important;
	color: #fff !important;
}
thead.table-book {
    background: #ffa800 !important;
}
